<?xml version="1.0"?>
<!--
    - Base      : kobuki_x
    - Stacks    : twocylinder
    - 3d Sensor : kinect2
-->    
<robot name="kobuki_x_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_common_library.urdf.xacro" />
  <xacro:include filename="$(find kobuki_x_description)/urdf/kobuki_x.urdf.xacro" />
  <xacro:include filename="$(find kobuki_x_description)/urdf/stacks/twocylinder.urdf.xacro"/>
  <xacro:include filename="$(find kobuki_x_description)/urdf/sensors/kinect2_for_kobuki_x.urdf.xacro"/>
  
  <kobuki_x/>
  <twocylinder_stack parent="base_link"/>
  <sensor_kinect2  parent="base_link"/>
</robot>
