<launch>    
    <!-- start kinect2-->
    <arg name="base_name"         default="camera"/>
    <arg name="sensor"            default=""/>
    <arg name="publish_tf"        default="true"/>
    <arg name="base_name_tf"      default="$(arg base_name)"/>
    <arg name="fps_limit"         default="-1.0"/>
    <arg name="calib_path"        default="$(find kinect2_bridge)/data/"/>
    <arg name="use_png"           default="false"/>
    <arg name="jpeg_quality"      default="90"/>
    <arg name="png_level"         default="1"/>
    <arg name="depth_method"      default="default"/>
    <arg name="depth_device"      default="-1"/>
    <arg name="reg_method"        default="default"/>
    <arg name="reg_device"        default="-1"/>
    <arg name="max_depth"         default="12.0"/>
    <arg name="min_depth"         default="0.1"/>
    <arg name="queue_size"        default="5"/>
    <arg name="bilateral_filter"  default="true"/>
    <arg name="edge_aware_filter" default="true"/>
    <arg name="worker_threads"    default="4"/>
    <arg name="machine"           default="localhost"/>
    <arg name="nodelet_manager"   default="$(arg base_name)"/>
    <arg name="start_manager"     default="true"/>
    <arg name="use_machine"       default="true"/>
    <arg name="respawn"           default="false"/>
    <arg name="use_nodelet"       default="true"/>
    <arg name="output"            default="screen"/>            
    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch"/>

    <!-- Run the depthimage_to_laserscan node -->
    <node pkg="nodelet" type="nodelet" name="p2l_nodelet" args="load pointcloud_to_laserscan/pointcloud_to_laserscan_nodelet /camera" output="screen">
      <remap from="cloud_in" to="/camera/qhd/points"/>
      <param name="~target_frame" value="base_footprint"/>
      <param name="~angle_min" value="-1.04719755"/>
      <param name="~angle_max" value="1.04719755"/>
      <param name="~range_min" value="0.5"/>
      <param name="~range_max" value="8.0"/>
      <param name="~min_height" value="0.05"/>
      <param name="~max_height" value="1.5"/>
    </node>

    <!-- static_transform_publisher x y z yaw pitch roll frame_id child_frame_id period_in_ms -->  
    <!--node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0 0 0 0 base_footprint base_link 50" /-->
    <!--node pkg="tf" type="static_transform_publisher" name="kinect2_link_to_laser" args="0 0 0 0 0 0 kinect2_link laser 50" /-->

</launch>

